/* estilo del título clicable */
summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.dropdown-title {
  background: #d9d9d9;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* animación suave */
.dropdown[open] .dropdown-title {
  background: #cfcfcf;
}